*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(img/background.jpg);
    background-size: cover;
    background-position: center;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    color: navy;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .nav a{
    color: navy;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.2s;
    transition-property: background ;
}

header .nav a:hover{
    background: white;
}

.content{
    max-width: 650px;
    margin: 60px 100px;
}

.content .info h2{
    color: navy;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span{
    color: white;
    font-size: 50px;
    font-weight: 600;
}

.content .info p{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 40px;
}

.content .info-btn{
    color: white;
    background: darkblue;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.2s;
    transition-property: background;
}

.content .info-btn:hover{
    background: rgb(1, 1, 90);
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    color:navy;
    font-size: 25px;
    transition: 0.2s;
    transition-property: transform;
}

.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(1.5);
}

label{
    display: none;
}

#check{
    z-index: 3;
}

/* Responsive styles */

@media (max-width: 960px){
    /* header .nav{
        display: none;
    }

    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }

    label:hover{
        color: white;
    }

    label .close-btn{
        display: none;
    }

    #check ~ header .nav{
        z-index: 2;
        position: fixed;
        background: transparent;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
    }
     */
    
        header .logo{
            position: absolute;
            bottom: -6px;
        }

        .content .info h2{
            font-size: 45px;
            line-height: 50px;
        }

        .content .info h2 span{
            font-size: 40px;
            font-weight: bold;
        }

        .content .info p{
            font-size: 14px;
        }
}

@media (max-width: 560px){
    .content .info h2{
        font-size: 35px;
        line-height: 40px;
    }

    .content .info h2 span{
        font-size: 30px;
        font-weight: bold;
    }

    .content .info p{
        font-size: 14px;
    }


}